.footer_container{
    background-image: url(../img/footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    margin-top: 12rem;
}

.footer_logo{
    width: 380px;
    height: auto;
}

.footer_container p{
    max-width: 600px;
    text-align: center;
}

.social_footer{
    padding-block: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}